body{
    background-color: lightyellow;
    color: lightcoral;
    font-family: Verdana;
    font-size: 16px;
}
fieldset,input,button{
    border: 2px coral solid;
}
input{
    background-color: lightgoldenrodyellow;
    color: brown;
}
input[type=number]{
    width: 100px;
}
button{
    cursor: pointer;
}