*{
    font-family: Century Gothic, Verdana;
}
body{
    background-color: #F0EAE2;
}
header,footer{
    color: white;
    height: 60px;
    text-align: center;
    background-image: url(./cegla.jpg);
}
nav{
    background-color: #824555;
    width: 80%;
    height: 60px;
}
aside{
    width: 20%;
    height: 560px;
    text-align: right;
    overflow: hidden;
    float: right;

}
aside img{
    width: 100%;
}
section{
    width: 40%;
    height: 500px;
    overflow: scroll;

}
h2{
    text-align: center;
}
a{
    color: #F0EAE2;
    padding-left: 100px;
    font-size: 180%;
}
a:hover{
    color: white;
}
.kontener{
    display: flex;
}
main{
    /* display: flex;
    flex-direction: column; */
}
