*{
    font-family: Cambria;
}
header{
   background-color: #c2185b;
   color: white;
   text-align: center;
   padding: 15px; 
}
main{
    background-image: url(tulipany.jpg);
    height: 500px;
}
footer{
    background-color: #c2185b;
    color: white;
    width: 25%;
    height: 240px;
}
form{
    display: flex;
}
form section{
    background-color: #FCE4EC;
    width: 25%;
    height: 300px;
    margin: 25px;
    padding: 16px;
}
#drugi_blok,#trzeci_blok{
    /* display: none; */
    visibility: hidden;
    
}
p{
    padding-top: 20px;
}
a{
    color: white;
}
input[type="text"],input[type="password"],input[type="tel"],input[type="email"]{
    width: 80%;
    height: 30px;
    margin: 10px;
}
button{
    background-color: #c2185b;
    color: white;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: none;
}
video{
    width: 100%;
    height: 100%;
}
.kontener{
    display: flex;
}