*{
    text-align: center;
    font-family: Helvetica,sans-serif;
}
header,nav,footer{
    color: white;
    padding: 2px;
}
header,footer{
    background-color: darkgreen;
    clear:both
}
nav{
    background-color: forestgreen;
}
section{
    background-color: lightgreen;
    width: 33.3%;
    height: 550px;
    padding-top:10px;
    overflow:auto;
    float:left;
}
h2{
    width: 33%;
    display: inline-block;
}
table,td,th{
    border: solid 1px darkgreen;
}
table{
    width: 90%;
    border-collapse: collapse;
}
#middle img{
    width: 95%;
    border-radius: 8px;
}
#left tr:hover{
    background-color: forestgreen;
}