* {
	font-family: Century Gothic;
}
body {
	background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}
header,
footer {
	background-color: sienna;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 130%;
}
.lewy {
	background-color: navajowhite;
	margin: 10px;
	padding: 20px;
	width: 35%;
	height: 400px;
	box-shadow: 5px 5px 10px dimgray;
}
nav {
	width: 50%;
	height: 50px;
}
.prawy {
	width: 50%;
	height: 420px;
	overflow: auto;
}
input,
button {
	margin-top: 20px;
}
li {
	display: inline-block;
	list-style-type: none;
}
img {
	width: 10%;
	float: left;
}
a {
	color: sienna;
	margin-right: 30px;
}
main {
	display: flex;
}
.kontener2 {
	display: flex;
	flex-direction: column;
    width: 50%;
	
}
a:hover{
	color: #4c1900;
}
