*{
    font-family: Tahoma;
}
body{
    background-color: #FB8E02;
}
nav{
    background-color: #232323;
    width: 20%;
    height: 450px;
    
}
main{
    overflow: scroll;
    background-color: #aec6e6;
    width: 80%;
    height: 450px;
}
footer{
    padding: 2px;
    text-align: right;
}
img{
    width: 100%;
}
h1{
    padding: 50px;
    color: maroon;
}
ul{
    list-style-type: none;

}
li{
    background-color: #FB8E02;
    width: 95%;
    padding: 5px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #232323;
    font-size: 110%;
}
li:hover{
    background-color: #b36501;
}
.kontener{
    display: flex;
}