*{
    font-family: Verdana;
}
header{
    background-color: #6F79A8;
    color: white;   
    height: 140px;
}
.pierwszy_baner{
    width: 30%;
}
.drugi_baner{
    width: 70%;
}
section{
    background-color: #9fa8da;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: solid 1px #6F79A8;
    overflow: hidden;
    float: left;
}
section:hover{
    background-color: #6F79A8;
    color: white;
}
footer{
    background-color: #6F79A8;
    color: white;
    padding: 5px;
    text-align: right;
    clear: both;
}
h6{
    text-align: center;
}
.kontener{
    display: flex;
}
main{
    /* display:      */
}

